
div{
    display: flex;
    flex: 1;
    
}

.colonne {
    flex-direction: column;
}


.fondpage{
    background-color: rgb(76, 143, 230);
 
}

.fondheader{
    height: 20vh;
    flex: 30;  
   
}

.main {
   height: 60vh;
   flex: 30;   
}

.nav{
    background-color: aqua;
    flex: 20;
    
}

.section{
    flex:50;
}

.footer{
    background-color: beige;
    height: 20vh;
    flex: 30;
  
}

.section1{
    background-color: rgb(224, 132, 19);    
}

.section2{
    background-color: rgb(240, 1, 132);
}

.section3{
    background-color: rgb(98, 161, 111);
}

*{
    padding: 0;
    margin: 0;
}

.vh1{
    height: 5vh;
}

.fh1{
    background-color: orange;
    
}

.fh2{
    background-color: grey;
}

.mini{
    flex:0.2;
}

.bloc{
    height: 20vh;
    background-color: yellow;
    flex: 30;
    
}

.bloc1{
    height: 20vh;
    background-color: yellow;
    flex: 7;
    
}